.home {
  background-color: #fafafa;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home__main {
  display: flex;
  flex-direction: row;
  flex-direction: column;
}

.home__logo {
  font-size: 30px;
}

/* @font-face {
  font-family: "Dancing Script";
  src: url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
  font-weight: normal;
  font-style: normal;
} */

.home__sign-in {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #dbdbdb;
}

.home__sign-up {
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
}

.home__footer {
  padding-bottom: 50px;
}
